<footer class="footer footerbg">

    

    <!--Footer Links-->
    <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">

            <!--First column-->
            

            <div class="col-md-4 col-lg-6 col-xl-6 dark-grey-text">
                <h6 class="title font-bold dark-grey-text"style="margin-top: 30px; color: black;">
                    <strong >Common Footer</strong>
                </h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fa fa-home mr-3"></i> Innovify Prahlad Nagar, Ahmedabad, Gujarat 380015</p>
                <p>
                    <i class="fa fa-envelope mr-3"></i><a href="mailto:info@innovify.com"> info@innovify.com</a></p>
                <p>
                    <i class="fa fa-phone mr-3"></i><a href="call:+91-9601403426"> +91-9601403426</a></p>
                
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
   
    <div id="footer">
        <div class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!--Grid row-->
            <p class="text-light">© All Copyright reserved with <a href="http://www.innovify.com/" class="text-light" style="font-size: 18px;" target="_blank">Innovify </a> - Designed By <a href="http://www.divyeshtamboli.com/" class="text-light" style="font-size: 18px;" target="_blank">Divyesh Tamboli</a></p>
           
              
        </div>
    </div>
</footer>